$button-font-size: 1.25rem;
$button-color: rgb(216, 194, 154);

$button-min-width: 250px;
$button-max-width: 250px;

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    max-width: $button-max-width;
    min-width: $button-min-width;
    padding: 10px 15px;

    background-color: $button-color;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    &.outlined {
        border: 1px solid inherit;
        background-color: transparent;
    }

    &.ico-btn {
        min-width: unset;
        display: block;
        width: fit-content;
    }

    &.disabled {
        background-color: rgb(174, 174, 174);
        cursor: not-allowed;
    }

    &__text {
        font-size: $button-font-size;
        text-shadow: $shadow-low;

        user-select: none;
    }

    &:not(:disabled):hover {
        background-color: #fff;
        color: $button-color;
        outline: 1px solid $button-color;

        svg {
            color: $button-color;
        }
    }

    @media (max-width: $breakpoint-md) {
        &__text {
            font-size: $button-font-size * 0.8;
        }
    }
}