$button-font-size: 1.25rem;
$button-border-radius: $border-radius;

$button-color: $color-accent-text;
$button-bg-color: $color-accent;
$button-bg-color-hovered: $color-accent-hover;

$button-min-width: 250px;
$button-max-width: 250px;

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    max-width: $button-max-width;
    min-width: $button-min-width;
    padding: 10px 15px;

    background-color: $button-bg-color;
    color: $button-color;
    text-align: center;
    border-radius: $button-border-radius;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    &:not(:disabled):hover {
        background-color: $button-bg-color-hovered;
        color: $button-color;
        outline: 1px solid $button-color;

        svg {
            color: $button-color;
        }
    }

    &.outlined {
        border: 1px solid $button-bg-color;
        background-color: transparent;
        color: $color-accent;

        &:hover {
            background-color: $button-bg-color;
        }
    }

    &.ico-btn {
        min-width: unset;
        display: block;
        width: fit-content;
    }

    &.disabled {
        background-color: $color-muted;
        cursor: not-allowed;
    }

    &__text {
        font-size: $button-font-size;
        text-shadow: $shadow-low;

        user-select: none;
    }

    @media (max-width: $breakpoint-md) {
        &__text {
            font-size: $button-font-size * 0.8;
        }
    }
}