---
import BasePageLayout from "@/layouts/BasePageLayout.astro";
---

<BasePageLayout
	title="Главная"
	description="Главная страница сайта"
	keywords="Ключевые слова"
>
	<h1>Контент внутри</h1>
</BasePageLayout>