---
import LinkButton from "@/components/buttons/LinkButton";
import Header from "@/components/header/Header.astro";
import FormInput from "@/components/inputs/FormInput";
import BasePageLayout from "@/layouts/BasePageLayout.astro";
---

<BasePageLayout
	title="Главная"
	description="Главная страница сайта"
	keywords="Ключевые слова"
>
	<Header/>
	<h1>Контент внутри</h1>
	<FormInput
        id="email"
        type="email"
        onChange={() => (console.log('Изменился'))}
        label="Email"
		client:load
      />
	<LinkButton text="Подписаться" href="/" className="contained" client:load/>
</BasePageLayout>